In [4]:
# Reading data from different sources
import pandas as pd 
from io import StringIO
Data = {"employee_name": "James", "email": "james@example.com", "job_profile": [{"title1": "Team Lead", "title2": "Senior Developer"}]}
import json
df = pd.read_json(StringIO(json.dumps(Data)))

In [5]:
df.to_json()

'{"employee_name":{"0":"James"},"email":{"0":"james@example.com"},"job_profile":{"0":{"title1":"Team Lead","title2":"Senior Developer"}}}'

In [6]:
df.to_json(orient='index')

'{"0":{"employee_name":"James","email":"james@example.com","job_profile":{"title1":"Team Lead","title2":"Senior Developer"}}}'

In [7]:
df.to_json(orient='records')

'[{"employee_name":"James","email":"james@example.com","job_profile":{"title1":"Team Lead","title2":"Senior Developer"}}]'

In [8]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data", header=None)

In [9]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [10]:
df.to_csv("wine_data.csv", index=False)

In [11]:
%pip install requests beautifulsoup4 lxml

Requirement already satisfied: requests in c:\users\sam ben-yosef\.conda\envs\newenv\lib\site-packages (2.32.3)
Requirement already satisfied: beautifulsoup4 in c:\users\sam ben-yosef\appdata\roaming\python\python312\site-packages (4.12.3)
Requirement already satisfied: lxml in c:\users\sam ben-yosef\appdata\roaming\python\python312\site-packages (5.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\sam ben-yosef\.conda\envs\newenv\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\sam ben-yosef\.conda\envs\newenv\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\sam ben-yosef\.conda\envs\newenv\lib\site-packages (from requests) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sam ben-yosef\.conda\envs\newenv\lib\site-packages (from requests) (2024.7.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\sam ben-yosef\appdata\roaming\python\python312\site-packages (from beautifulsoup4) (2.5)
Note: you may need to restart the kernel to use updated packages.

In [12]:
url = "https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/"
df = pd.read_html(url)

In [13]:
df[0]

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,"First Bank & Trust Co., Duncan, OK","October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545
5,Heartland Tri-State Bank,Elkhart,Kansas,25851,"Dream First Bank, N.A.","July 28, 2023",10544
6,First Republic Bank,San Francisco,California,59017,"JPMorgan Chase Bank, N.A.","May 1, 2023",10543
7,Signature Bank,New York,New York,57053,"Flagstar Bank, N.A.","March 12, 2023",10540
8,Silicon Valley Bank,Santa Clara,California,24735,First Citizens Bank & Trust Company,"March 10, 2023",10539
9,Almena State Bank,Almena,Kansas,15426,Equity Bank,"October 23, 2020",10538

In [16]:
url = "http://en.wikipedia.org/wiki/Mobile_country_code"
pd.read_html(url, match="Country", header=0)

[     Mobile country code                                    Country ISO 3166  \
 0                    289                                 A Abkhazia    GE-AB
 1                    412                                Afghanistan       AF
 2                    276                                    Albania       AL
 3                    603                                    Algeria       DZ
 4                    544  American Samoa (United States of America)       AS
 ..                   ...                                        ...      ...
 247                  452                                    Vietnam       VN
 248                  543                        W Wallis and Futuna       WF
 249                  421                                    Y Yemen       YE
 250                  645                                   Z Zambia       ZM
 251                  648                                   Zimbabwe       ZW

                                   Mobile network codes National MNC authority  \
 0             List of mobile network codes in Abkhazia                    NaN
 1          List of mobile network codes in Afghanistan                    NaN
 2              List of mobile network codes in Albania                    NaN
 3              List of mobile network codes in Algeria                    NaN
 4       List of mobile network codes in American Samoa                    NaN
 ..                                                 ...                    ...
 247        List of mobile network codes in the Vietnam                    NaN
 248  List of mobile network codes in Wallis and Futuna                    NaN
 249          List of mobile network codes in the Yemen                    NaN
 250             List of mobile network codes in Zambia                    NaN
 251           List of mobile network codes in Zimbabwe                    NaN

                       Remarks
 0    MCC is not listed by ITU
 1                         NaN
 2                         NaN
 3                         NaN
 4                         NaN
 ..                        ...
 247                       NaN
 248                       NaN
 249                       NaN
 250                       NaN
 251                       NaN

 [252 rows x 6 columns]]