## SQL Queries
### SQL is a standard language for accessing and manipulating databases. It is widely used in data analysis, data science, and database management. SQL allows users to perform various operations on databases, such as querying data, inserting new records, updating existing records, and deleting records.
### SQL is a powerful tool for data analysis and is widely used in the industry. It is important to have a good understanding of SQL to work with databases and perform data analysis tasks effectively.

In [1]:
import sqlite3

In [2]:
# Connect to a SQLite Database
connection = sqlite3.connect('example.db')
connection

In [3]:
cursor = connection.cursor()

In [4]:
# Create a table
cursor.execute('''
Create Table If Not Exists employees(
    id Integer Primary Key,
    name Text Not Null,
    age Integer,
    department text
)
''')

## Commit the changes
connection.commit()

In [5]:
cursor.execute('''
    Select * from employees
    ''')

In [6]:
# Insert the data in a sqlite table
cursor.execute('''
    Insert Into employees(name, age, department)
    values('Sam', 36, 'Data Scientist')
''')

cursor.execute('''
    Insert Into employees(name, age, department)
    values('John', 28, 'Software Engineer')
''')

cursor.execute('''
    Insert Into employees(name, age, department)
    values('Anna', 30, 'Data Analyst')
''')

# Commit the changes
connection.commit()

In [7]:
# Querying the data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the data
for row in rows:
    print(row)

(1, 'Sam', 36, 'Data Scientist')
(2, 'John', 28, 'Software Engineer')
(3, 'Anna', 30, 'Data Analyst')

In [8]:
# Update the data in the table
cursor.execute('''
    UPDATE employees
    Set age=37
    WHERE name = "Sam"
''')

connection.commit()

In [9]:
# Delete the data from the table
cursor.execute('''
    DELETE from employees
    WHERE name = "John"
''')

connection.commit()

In [10]:
# Querying the data
cursor.execute('Select * from employees')
rows = cursor.fetchall()

# print the data
for row in rows:
    print(row)

(1, 'Sam', 37, 'Data Scientist')
(3, 'Anna', 30, 'Data Analyst')

In [11]:
# Working with sales data
# Create a table for sales data
connection = sqlite3.connect('sales_data2.db')
cursor = connection.cursor()
cursor.execute('''
    CREATE TABLE IF NOT EXISTS sales (
        id INTEGER PRIMARY KEY,
        date TEXT NOT NULL,
        product TEXT NOT NULL,
        sales INTEGER,
        region TEXT
    )
''')
connection.commit()

# Insert some sales data
cursor.execute('''
    INSERT INTO sales (date, product, sales, region)
    VALUES ('2023-01-01', 'Product A', 100, 'North'),
           ('2023-01-02', 'Product B', 150, 'South'),
           ('2023-01-03', 'Product C', 200, 'East')
''')
connection.commit()

In [13]:
cursor.executemany('''
    INSERT INTO sales (date, product, sales, region)
    VALUES (?, ?, ?, ?)
''', [
    ('2023-01-04', 'Product D', 250, 'West'),
    ('2023-01-05', 'Product E', 300, 'North')
])

connection.commit()

In [14]:
# Close the connection
connection.close()