In [2]:
# Map filter applies a function to all items in a list
def square(x):
    return x * x

square(10)

100

In [3]:
numbers = [1,2,3,4,5,6,7,8,9]

# Syntax map(function, iterable collection)

list(map(square, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [4]:
# Doing map with a lambda function
list(map(lambda x : x ** x, numbers))

[1, 4, 27, 256, 3125, 46656, 823543, 16777216, 387420489]

In [6]:
# Multiple parameters

numbers1 = [1,2,3]
numbers2 = [4,5,6]

added_numbers = list(map(lambda x, y : x + y, numbers1, numbers2))

print(added_numbers)

[5, 7, 9]

In [7]:
# Using Map to convert a list of strings to integers using typecasting
str_numbers = ['1', '2', '3']
int_numbers = list(map(int, str_numbers))
print(int_numbers)

[1, 2, 3]

In [8]:
words = ['apple', 'banana', 'cherry']
upper_words = list(map(str.upper, words))
print(upper_words)

['APPLE', 'BANANA', 'CHERRY']

In [9]:
def get_name(person):
    return person['name']

people = [
    {"name": "Sam", "age": 36},
    {"name": "John", "age": 24}
]

list(map(get_name, people))

['Sam', 'John']