In [1]:
## Basic Python Syntax
# Python is a high-level, interpreted, interactive and object-oriented 
# scripting language. Python is designed to be highly readable. 
# It uses English keywords frequently where as other languages use punctuation, 
# and it has fewer syntactical constructions than other languages.

In [2]:
'''
This is a multi-line comment in Python
'''

'\nThis is a multi-line comment in Python\n'

In [3]:
# Case sensitivity and indentation
# Python is case sensitive and indentation plays a crucial role in Python.
# Indentation is used to define the block of code.

age = 36
if age > 35:
    print("Age is greater than 35. The age is: ", age)
print("This is not part of the if block")

Age is greater than 35. The age is:  36
This is not part of the if block

In [4]:
# Line continuation
# Python allows the use of the line continuation character 
# (\) to denote that the line should continue.

total = 1 + \
        2 + \
        3
print("Total: ", total)

Total:  6

In [5]:
# Multiple statements on a single line
# Python allows the use of semicolons to put multiple statements on a single line.

x = 'foo'; y = 'bar'; z = 'baz'
print(x, y, z)

foo bar baz

In [6]:
# Name error
# If you try to access a variable that has not been defined,
# you will get a NameError.

a=b # This will raise a NameError

NameError: name 'b' is not defined

In [7]:
# Code Examples of indentation
if True:
    print("True")
    if False:
        print("False")
    print("Still True")
print("Outside if block")

True
Still True
Outside if block

In [8]:
# Data types
# Python has five standard data types âˆ’
# Numbers
# String
# List
# Tuple
# Dictionary

In [9]:
num = 100
name = "John"
list = [1, 2, 3, 4, 5]
tuple = (1, 2, 3, 4, 5)
dict = {'name': 'John', 'age': 36}

In [ ]:
# Common errors
# IndentationError: expected an indented block
# SyntaxError: invalid syntax
# NameError: name 'x' is not defined
# ZeroDivisionError: division by zero
# TypeError: can only concatenate str (not "int") to str
# ValueError: invalid literal for int() with base 10: 'x'
# ImportError: No module named x
# IndexError: list index out of range
# KeyError: 'x'
# AttributeError: 'x' object has no attribute 'y'
# FileNotFoundError: [Errno 2] No such file or directory: 'x'

# Python Keywords
# The following list shows the Python keywords.
# These are reserved words and you cannot use them as constant or variable or any other identifier names.

# and, as, assert, break, class, continue, def, del, elif, else, except, exec, finally, for, from, global, if, import, in, is, lambda, not, or, pass, print, raise, return, try, while, with, yield

In [10]:
# Basic operators
# Python language supports the following types of operators.

# Arithmetic operators
# Comparison (Relational) operators
# Assignment operators
# Logical operators
# Bitwise operators
# Membership operators
# Identity operators

In [15]:
# Arithmetic operators
add = 1 + 2
sub = 3 - 1
mul = 2 * 3
div = 4 / 2
mod = 5 % 2
exp = 2 ** 3
floor_div = 5 // 2
print(add, sub, mul, div, mod, exp, floor_div)

3 2 6 2.0 1 8 2

In [12]:
# Comparison operators
# These operators compare the values on either sides of them and 
# decide the relation among them.

In [16]:
compared = 1 == 1
not_equal = 1 != 2
greater = 2 > 1
less = 1 < 2
greater_equal = 2 >= 1
less_equal = 1 <= 2

print("Addition: ", add)
print("Comparison: ", compared, not_equal, greater, less, greater_equal, less_equal)

Addition:  3
Comparison:  True True True True True True

In [17]:
# Assignment operators
# These operators are used to assign values to variables.

a = 1
b = 2
c = 3
a += b
b -= c
c *= a
print("Assignment: ", a, b, c)

Assignment:  3 -1 9

In [18]:
# Logical operators
# Logical operators are the and, or, not operators.

a = True
b = False
and_op = a and b
or_op = a or b
not_op = not a
print("Logical: ", and_op, or_op, not_op)

Logical:  False True False

In [19]:
# Bitwise operators
# Bitwise operators act on operands as if they were strings of binary digits.
# They operate bit by bit, hence the name.

a = 60
b = 13
bitwise_and = a & b
bitwise_or = a | b
bitwise_xor = a ^ b
bitwise_not = ~a
bitwise_left_shift = a << 2
bitwise_right_shift = a >> 2

print("Bitwise: ", bitwise_and, bitwise_or, bitwise_xor, bitwise_not, bitwise_left_shift, bitwise_right_shift)

Bitwise:  12 61 49 -61 240 15

In [20]:
# Membership operators
# Membership operators are used to test if a sequence is presented in an object.

list = [1, 2, 3, 4, 5]
print("Membership: ", 1 in list)
print("Membership: ", 6 not in list)

Membership:  True
Membership:  True

In [21]:
# Identity operators
# Identity operators compare the memory locations of two objects.

a = 20
b = 20
print("Identity: ", a is b)

Identity:  True

In [1]:
# if else statement

a = 10
b = 20

if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")


color = 'silver'

if color == 'gold':
    print('the color is gold')
elif color == 'silver':
    print('leave that silver chrimson black')
else:
    print('neither silver nor gold')

b is greater than a
leave that silver chrimson black

In [2]:
# Calculate a leap year

year = int(input("Enter the year"))

if year%4==0:
    if year%100==0:
        print('This year is a leap year')
    else:
        print('Not a leap year')

Not a leap year

In [5]:
# Simple calculator

input_number1 = int(input("Enter a number"))
input_op = input("Enter a symbol like '+-*/'")
input_number2 = int(input("Enter another number"))

if input_op == '+':
    print(input_number1 + input_number2)
elif input_op == '-':
    print(input_number1 - input_number2)
elif input_op == '*':
    print(input_number1 * input_number2)
elif input_op == '/':
    print(input_number1 / input_number2)
else:
    print("Invalid operator")

36

In [7]:
# Loops
# Python programming language provides the following types of loops 
# to handle looping requirements.

# for loop

#Range will generate a sequence of numbers from 1 to 9 because the last number is exclusive

for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [8]:
# You can also use the step parameter in the range function

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [9]:
# Reversing a for loop is also possible

for i in range(10, 1, -1):
    print(i)

10
9
8
7
6
5
4
3
2

In [10]:
str = "I will become a data scientist in less than two months"
for i in str:
    print(i)

I

w
i
l
l

b
e
c
o
m
e

a

d
a
t
a

s
c
i
e
n
t
i
s
t

i
n

l
e
s
s

t
h
a
n

t
w
o

m
o
n
t
h
s

In [12]:
# While loop

count = 0
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [14]:
count = 0
while count %2==0:
    print(count)
    count += 1

0

In [15]:
# Loop control statements

# Loop control statements change the execution from its normal sequence.
# When the execution leaves a scope, all automatic objects 
# that were created in that scope are destroyed.

# The break statement
# The break statement terminates the loop containing it.

for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

In [16]:
# Continue statement
# The continue statement is used to skip the rest of the code inside a loop for the current iteration only.

for i in range(1, 10):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9

In [17]:
# Pass statement 
# The pass statement is used as a placeholder for future code.

for i in range(1, 10):
    if i == 5:
        pass
    print(i)

1
2
3
4
5
6
7
8
9

In [18]:
# Nested loops

for i in range(1, 10):
    for j in range(1, 10):
        print(i, j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
5 9
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
6 9
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
7 9
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8
8 9
9 1
9 2
9 3
9 4
9 5
9 6
9 7
9 8
9 9

In [22]:
# Calculate the sum of the first N natural numbers using a for loop and while loop

n = int(input("Enter a number"))
sum = 0

for i in range(1, n+1):
    sum += i
print(sum)

45

In [21]:
n = int(input("Enter a number"))
sum = 0
i = 1
while i <= n:
    sum += i
    i += 1

print(sum)

28

In [23]:
# Display the prime numbers between 1 and 100

for i in range(1, 101):
    if i > 1:
        for j in range(2, i):
            if i % j == 0:
                break
        else:
            print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97