In [1]:
# Creation of sets
my_set = {1, 2, 3, 4, 5}
print(type(my_set))

<class 'set'>

In [2]:
my_empty_set = set()
print(type(my_empty_set))

<class 'set'>

In [3]:
my_empty_set = {1, 2, 3, 4, 5}
print(my_empty_set)

{1, 2, 3, 4, 5}

In [4]:
# Sets ignore duplicates
my_set_2 = set([1, 2, 3, 4, 5, 5, 5, 5, 5])
print(my_set_2)

{1, 2, 3, 4, 5}

In [5]:
# Basic set operations
my_set_2.add(7)
my_set_2.add(7)
my_set_2.add(7)
my_set_2.add(7)
my_set_2.add(7)
print(my_set_2)

{1, 2, 3, 4, 5, 7}

In [6]:
# Removing elements
my_set_2.remove(3)
print(my_set_2)

{1, 2, 4, 5, 7}

In [7]:
my_set_2.remove(10)
print(my_set_2)

KeyError: 10

In [8]:
my_set_2.discard(11)
print(my_set_2)

{1, 2, 4, 5, 7}

In [9]:
my_set_2.pop()
print(my_set_2)

{2, 4, 5, 7}

In [10]:
# Clear all elements
my_set_2.clear()
print(my_set_2)

set()

In [2]:
new_set = {1, 2, 3, 4, 5, 6, 7}
print(3 in new_set)
print(10 in new_set)

True
False

In [3]:
set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9,10}

# Union 
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# Intersection
inersect = set1.intersection(set2)
print(inersect)

{4, 5, 6, 7}

In [ ]:
set1.intersection_update(set2) # Update replaces set1 with the intersection values
print(set1)

{4, 5, 6, 7}

In [10]:
set1 = {1,2,3,4,5,6,7}
set2 = {4,5,6,7,8,9,10}

# Difference
print(set1.difference(set2))

{1, 2, 3}

In [11]:
print(set2.difference(set1))

{8, 9, 10}

In [13]:
# Symmetric difference, combines unique elements
print(set1.symmetric_difference(set2))

{1, 2, 3, 8, 9, 10}

In [ ]:
# Sets methods
set1 = {1,2,3}
set2 = {3,4,5}

#is subset
print(set1.issubset(set2))

#is superset
print(set1.issuperset(set2))

False
False

In [ ]:
lt = [1,2,2,3,4,4,5]
# Remove duplicates with sets (sets remove duplicates)

set(lt)

{1, 2, 3, 4, 5}

In [19]:
# Counting unique words in text

text = "In this file, we are discussing the power of sets"
words = text.split()

# Convert list of words to set to get the unique words

unique_words = set(words)
print(unique_words)
print(len(unique_words))

{'file,', 'of', 'sets', 'discussing', 'power', 'are', 'In', 'this', 'the', 'we'}
10